{% extends 'base.html.njk' %}

{% block body %}

    <h1>Welcome, {{ name }}</h1>
 
  

  <div class="fossil-div">  

    {% for fossilKey, fossilVal in mostLikedFossilsObj %}
      <h3>{{ name }}, this is an {{ mostLikedFossilsObj[fossilKey].name }}</h3>
      <h2>Liked {{ mostLikedFossilsObj[fossilKey].num_likes }} times.</h2>
      <img src="{{ mostLikedFossilsObj[fossilKey].img }}" />

     {% endfor %}
   </div>

   <form action="/like-fossil" method="POST">
      <label for="likedFossil">Choose a fossil:</label>
     
      <select name="likedFossil" id="likedFossil">
        <option value="">select your option</option>
      {% for fossilKey, fossilVal in mostLikedFossilsObj %}
        <option value="{{ mostLikedFossilsObj[fossilKey].name }}">{{ mostLikedFossilsObj[fossilKey].name }}</option>
      {% endfor %}
      </select>
      
      <div id="form-button">
        <input type="submit" value="Click to Submit your Like!" id="submit-button">
      </div>

   </form>
      


{% endblock %}

