{% extends 'base.html.njk' %}

{% block title %} Top Fossils {% endblock %}

{% block body %}

    <h1>Welcome, {{ name }}</h1>
 
  

  <div class="fossil-div">  

    {% for fossilKey, fossilVal in mostLikedFossilsObj %}
      <div id="fossil-box">
        <div id="dino-text">
          <h3>{{ name }}, this is an {{ mostLikedFossilsObj[fossilKey].name }}</h3>
        </div>
        <div id="dino-likes">
          <h2>Liked {{ mostLikedFossilsObj[fossilKey].num_likes }} times.</h2>
        </div>
        <div id="dino-img">
          <img src="{{ mostLikedFossilsObj[fossilKey].img }}" />
        </div>
      </div>

     {% endfor %}
   </div>

   <form action="/like-fossil" method="POST" id="like-fossil-form">
      <label for="likedFossil">Choose a fossil:</label>
     
      <select name="likedFossil" id="likedFossil">
        <option value="">select your option</option>
      {% for fossilKey, fossilVal in mostLikedFossilsObj %}
        <option value="{{ fossilKey }}">{{ mostLikedFossilsObj[fossilKey].name }}</option>
      {% endfor %}
      </select>
      
      <div id="form-button">
        <input type="submit" value="Click to Submit your Like!" id="submit-button">
      </div>

   </form>
      


{% endblock %}

