{% extends 'base.html.njk' %}

{% block body %}
    
  <div class="fossil-div">  

    {% for fossilKey, fossilVal in mostLikedFossilsObj %}
      <h3>User, this is an {{ mostLikedFossilsObj[fossilKey].name }}</h3>
      <h2>Liked {{ mostLikedFossilsObj[fossilKey].num_likes }} times.</h2>
      <img src="{{ mostLikedFossilsObj[fossilKey].img }}" />

     {% endfor %}
   </div>
      


{% endblock %}

